.eye {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}
.videoWrapper {
    position: relative;
}
.videoWrapper::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: radial-gradient(transparent 0%, #000 75%, #000 100%);
}
.video {
    transform: scaleX(-1);
}
.videoHide {
    display: none;
}
.frame {
    border: solid 2vw #000;
    width: 80vw;
    height: 20vw;
    position: absolute;
    top: 50%;
    margin-top: -10vw;
}
.frame::after {
    content: "";
    position: absolute;
    top: -1%;
    left: 6%;
    bottom: -5%;
    width: 90%;
    background: url('/images/mistery_b.png') center/cover;
    transform: scaleX(-1);
}
.changeButton {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10vw;
    height: 10vw;
}
.erroeMessage {
    display: none;
    position: fixed;
    top: 40vh;
    left: 0;
    width: 100%;
    text-align: center;
}
.erroeMessageShow {
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}
.hikari {
    width: 15vw;
    height: 15vw;
    margin: 10vw auto;
    border-radius:50%;
    background-color: #fff;
    animation: glowing 1s ease-in-out infinite alternate;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes glowing {
    from {
      box-shadow: 0 0 1vw #fff, 0 0 2vw #fff, 0 0 3vw #f0f, 0 0 4vw #0ff, 0 0 5vw #e60073, 0 0 6vw #e60073, 0 0 7vw #e60073;
    }
    to {
      box-shadow: 0 0 3vw #fff, 0 0 4vw #ff4da6, 0 0 5vw #ff4da6, 0 0 6vw #ff4da6, 0 0 7vw #ff4da6, 0 0 8vw #ff4da6, 0 0 9vw #ff4da6;
    }
}
