.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.backButton {
    width: 20vw;
    height: 10vw;
}
.whiteMask {
    position: fixed;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #fff;
    transition: opacity 1s;
}
.whiteMaskShow {
    opacity: 1;
}