.secretQuestion {
    text-align: center;
    margin: 10vw auto;
}
.hint {
    margin: 10vw auto;
    background-color: white;
    border-radius: 5vw;
    display: inline-block;
    color: black;
    padding: 2vw 10vw;
}
.hintContent {
    opacity: 0;
    transition: opacity 1s;
}
.hintContentOpen {
    opacity: 1;
}
.hintButton {
    display: inline-block;
    width: 5vw;
    height: 5vw;
}
.scrollWrapper {
    width: 100%;
    overflow: hidden;
}
.scrollWrapperSecret {
    overflow: auto;
}
.scrollWrapperSecret .actionButton {
    opacity: 0;
}
.hotBar {
    position: relative;
    z-index: 1;
    width: 500vw;
}
.actionRow {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.actionButton {
    width: 10vw;
    height: 10vw;
    border-radius: 2vw;
    border: solid .5vw white;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 15vw;
    overflow: hidden;
    box-shadow: .1vw .1vw 1vw 1vw rgba(0, 0, 0, .5);
    transition: opacity 5s;
}
.actionButton::before {
    content: "";
    transition: opacity .2s;
    opacity: 0;
}
.actionButton::after {
    content: "";
    transition: opacity .2s;
    opacity: 0;
}
.commandRecast::after {
    content: "";
    transition: opacity .2s;
    opacity: 0;
}
.commandRecast {
    position: relative;
}
.commandRecast::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .5;
    pointer-events: none;
}
.commandRecast::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    border-radius: 50%;
    animation: recast .5s;
    box-shadow: 0 0 1vw .1vw #fff inset;
    background-color: rgba(255, 255, 255, .1);
}

@keyframes recast {
    0% {
        background-image: conic-gradient(black 0% 0%, transparent 0% 100%);
    }
    5% {
        background-image: conic-gradient(black 0% 5%, transparent 5% 100%);
    }
    10% {
        background-image: conic-gradient(black 0% 10%, transparent 10% 100%);
    }
    20% {
        background-image: conic-gradient(black 0% 20%, transparent 20% 100%);
    }
    30% {
        background-image: conic-gradient(black 0% 30%, transparent 30% 100%);
    }
    40% {
        background-image: conic-gradient(black 0% 40%, transparent 40% 100%);
    }
    50% {
        background-image: conic-gradient(black 0% 50%, transparent 50% 100%);
    }
    60% {
        background-image: conic-gradient(black 0% 60%, transparent 60% 100%);
    }
    70% {
        background-image: conic-gradient(black 0% 70%, transparent 70% 100%);
    }
    80% {
        background-image: conic-gradient(black 0% 80%, transparent 80% 100%);
    }
    90% {
        background-image: conic-gradient(black 0% 90%, transparent 90% 100%);
    }
    100% {
        background-image: conic-gradient(black 0% 100%, transparent 100% 100%);
    }
}
.buttonTen {
    background: url('/images/ten.png') center/cover;
}
.buttonChi {
    background: url('/images/chi.png') center/cover;
}
.buttonJin {
    background: url('/images/jin.png') center/cover;
}
.buttonKen {
    background: url('/images/ken.png') center/cover;
}
.buttonNai {
    background: url('/images/nai.png') center/cover;
}
.buttonArm {
    background: url('/images/arm.png') center/cover;
}
.buttonTru {
    background: url('/images/tru.png') center/cover;
}
.actionRow:nth-child(2) .actionButton {
    margin: 0 5vw;
}
.line {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    background-color: white;
    z-index: -1;
    box-shadow: 0 0 1vw #fff, 0 0 2vw #fff, 0 0 3vw #f0f, 0 0 4vw #0ff, 0 0 5vw #e60073, 0 0 6vw #e60073, 0 0 7vw #e60073;
}
.lineA {    
    top: 0;
    left: 65vw;
    width: 3vw;
    height: 24vw;
    transform-origin: top right;
    transform: rotate(-45deg);
}
.lineB {
    top: 15vw;
    left: 17vw;
    width: 3vw;
    height: 62vw;
    transform-origin: center top;
    transform: rotate(-90deg);
}
.lineC {    
    bottom: 0;
    left: 65vw;
    width: 3vw;
    height: 24vw;
    transform-origin: bottom right;
    transform: rotate(45deg);
}
.lineShow {
    opacity: 1;
}
.congratulations {
    position: absolute;
    top: 0;
    right: 22vw;
    height: 100%;
    display: flex;
    align-items: center;
}
.congratulations::before,
.congratulations::after {
    content: "";
    background: url('/images/animal.png') center/cover;
    position: absolute;
    top: 10vw;
    width: 10vw;
    height: 10vw;;
}
.congratulations::before {
    left: -10vw;
    transform: scaleX(-1);
}
.congratulations::after {
    right: -10vw;
}